:root{
    font-size: 62.5%; /*Базовый размер шрифта (rem.) - 16px * 0.625 = 10px (1rem)*/
    margin: 0;
}

body{
    font-size: 8rem;
}

h1{
    font-size: 18rem;
}

.row{
    display: flex;
}

.home-office{
    background-color: rgb(155, 255, 255);
}

.house{
    background-color: rgb(200, 140, 255);
}